[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "~=3.2.1"
nltk = "~=3.6.7"
matplotlib = "~=3.3.4"

[dev-packages]
black = "~=22.1.0"
pylint = "~=2.12.2"

[requires]
python_version = "3.6"
